panel{
	width: 100%;
}

.jumbotron{
	background-color: #303031;
	color: #eeeecc;
	padding-top: 1%;
	padding-bottom: 2%;
	border: 1px solid #303031;
}

.panel-heading{
	padding-top: 0.25%;
	background-color: #303031;
}

.panel-body{
	border: 1px solid #303031;
	color: black;
}

#panelHeading {
	background: #303031;
	color: #eeeecc;
	padding-top: 10px;
	border: 1px solid #303031;

}

#add-train {
	background-color: #303031;
	color: #eeeecc;
	border: 1px solid #303031;
}